body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center; /* Align content in the center */
}

.container {
  width: 90%;
  margin: 0 auto; /* Center the container horizontally */
}

h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  margin-top: 20px; /* Add margin to separate logo from navigation */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ddd;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: auto;
  text-align: center;
}


#contact {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact button:hover {
  background-color: #555;
}
